<mat-toolbar class = "toolbar">
  <mat-toolbar-row  *ngIf="innerWidth<500">
    <!-- Menu for smaller devices-->
          <mat-icon class="example-icon"[matMenuTriggerFor]="menu" >menu</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Learn</button>
            <button mat-menu-item>Puzzles</button>
            <button mat-menu-item  [routerLink]="['../solver']">Solver</button>
            <button mat-menu-item  [routerLink]="['../settings']">Settings</button>
            <button mat-menu-item [routerLink]="['../feedback']" >Feedback</button>
            <button mat-menu-item  (click)="onLogout()" [routerLink]="['../login']">Logout</button>
          </mat-menu>
          <button mat-button style="font-size: 1.8em" [routerLink]="['../home']">
            <span>Logic</span>
            <span>4</span>
            <span>Fun</span>
          </button>
        </mat-toolbar-row>
    <!-- Toolbar buttons for larger devices -->
       <mat-toolbar-row *ngIf="innerWidth >= 500">
          <button mat-button style="font-size: 1.8em" [routerLink]="['../home']">
            <span>Logic</span>
            <span>4</span>
            <span>Fun</span>
          </button>
          <span class="initial-spacer"></span>      
          <button mat-button class ="buttons">Learn</button>
          <button mat-button class ="buttons">Puzzles</button>
          <button mat-button  [routerLink]="['../solver']" class ="buttons">Solver</button>
          <span class="end-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right">
              <span class ="buttons">{{name}}</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" style="margin-right: 10px">
              <button mat-menu-item [routerLink]="['../settings']">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </button>
              <button mat-menu-item  (click)="onLogout()" [routerLink]="['../login']">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
